/* BLOG */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: goldenrod;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.content ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.content ul li a:hover {
    color: lightslategrey;
    text-decoration:solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.left-content, .right-content {
    width: 48%;
    background-color: goldenrod;
    padding: 20px;
    border-radius: 10px;
    
}

.left-content {
    background-color: black;
    color: goldenrod;
    margin: 10px;
    background-color: white;
}

.right-content {
    background-color: goldenrod;
    color: black;
    margin: 10px;
    background-color: white;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd700;
    color: black;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.brand {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon {
    padding: 20px 10px;
    cursor: pointer;
    height: 1.5rem;
    position: relative;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: lightslategrey;
    text-decoration:solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}