/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffd700;
    color: black;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.brand {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon {
    padding: 20px 10px;
    cursor: pointer;
    height: 1.5rem;
    position: relative;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: lightslategrey;
    text-decoration:solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
}

.hero {
    background-image: url('./assets/First-background-pic.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Section HOME */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px 0;
}

.hero-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-text {
    flex: 1;
    padding-right: 50px;
}

.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.6;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


/* Section ABOUT */

.about-text {
    flex: 1;
    max-width: 50%;
    text-align: justify;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

.about {
    background-image: url('./assets/second-background.jpg');
    background-size:cover;
    background-color: black;
    text-align: center;
    padding: 80px 0;
}

.tab {
    display: inline-block;
    margin-left: 100px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    color:white;
}

.about-image {
    flex: 1;
    max-width: 30%;
}

.education {
    display: flex;
    justify-content: space-between;
}

.education {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left, .right {
    flex: 1;
    padding: 0 10px;
}

.right {
    text-align: right;
    margin-top: 35px;
}

.about-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding: 0 20px;
}

.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
}

.padding-bottom {
    padding-bottom: 30px;
}
.education, .experience, .summary {
    margin-bottom: 30px;
}

.education h3, .experience h3, .summary h3 {
    color: #333;
}

.experience h3, .summary h3, .education h3 {
    color: black;
}

/* PROJECTS */

.project-section {
    display: flex;
    flex-direction: column;
    background-image: url('./assets/Third\ background.jpg');
    background-size: cover;
    margin: 0;
}

.project-section a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    transition: color 0.3s; /* Smooth transition for color change */
}
  
.project-section a:hover {
    color: lightseagreen; /* Change text color on hover */
}

.section-heading {
    text-align: center;
    color: #855E42; /* Dark gold color */
}
  
.row {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}
  
.column {
    flex: 1;
    padding: 30px;
    text-align: center;
}
  
  .dark-gold {
    background-color: #855E42;
    color: white;
}
  
.black {
    background-color: black;
    color: white;
}
  
.white {
    background-color: white;
    color: black;
}
  


/* CONTACT ME */

#contact {
    background-image: url('./assets/contact1.jpg');
    background-size: cover;
    color: brown; 
    padding: 80px 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    font-size: 16px;
    border-radius: 5px;
}

textarea {
    height: 150px; 
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000; /* Black button background */
    color: #FFD700; /* Yellow button text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333; /* Darken button background on hover */
}
